---
name: "gshare"

networks:
  proxynet:
    name: gshare_network

x-gshare-container: &gshare-container
  env_file:
    - gshare.env
  networks:
    - proxynet
  restart: always

services:
  client:
    <<: *gshare-container
    image: ghcr.io/austinbspencer/gshare-client:latest
    container_name: gshare-client
    ports:
      - 3000:3000
    depends_on:
      - server
  server:
    <<: *gshare-container
    image: ghcr.io/austinbspencer/gshare-server:latest
    container_name: gshare-server
    ports:
      - 8323:8323
    volumes:
      # If you change the IMAGES_DIRECTORY env (default: /app/images) be sure to update here as well
      - ./gshare_images:/app/images
      - /var/run/docker.sock:/var/run/docker.sock # Required to auto-restart client container
      - ./data:/data
