.imgLightbox img {
  -moz-box-shadow: 0 0 10px black;
  -webkit-box-shadow: 0 0 10px black;
  box-shadow: 0 0 10px black;
  max-width: 100%;
  height: auto;
  /* margin-top: 100px; */
}

/* .container {
  max-width: 70vw;
  max-height: 70vh;
} */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
