/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.logo {
  text-align: center;
  margin-bottom: 1rem; /* Adjust this value to set the spacing between the logo and title */
}

.logo img {
  max-width: 150px;
}

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  margin-top: 2rem; /* Adjust this value to set the spacing between header and buttons */
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons a {
  margin: 0 1rem; /* Adjust this value to set the spacing between buttons */
}
